.corpo-pagina-geral{
    font-family: helvetica; /*Fonte generica padrao*/
}

.cabecalho-pagina-geral{
    width: 100%; /*Largura, 100% porque quero que ocupe toda a tela*/
}

.cabecalho-menu-nevagacao{
    background: #181224;
    font-weight: 900; /*Define o peso da fonte, 0-900, sendo o 900 um bold forte*/
}

.lista-linguagens-navegacao{
    text-align: center; /*Centraliza os itens da lista*/
    font-size: 18px;
    margin: 0 10%; 
    padding: 1.5% 0;
}

.lista-linguagens-navegacao li:hover{
    transform: scale(1.1); /*Aumenta a fonte sem interferir no padding/margin, se colocar no ...a:hover nao funciona*/
}

.lista-linguagens-navegacao a:hover{ /*Quando passar o mouse por cima...*/
    color: #F1EA82;
    text-decoration: underline #F1EA82 3px; /*...insere um underline sobre o item*/
}

.espacamento-itens-navagacao{ /*Necessario para que o scale(1.1) nao fosse aplicado no padding do li*/
    display: inline-block; /*Coloca os itens um ao lado do outro*/
    padding: 0 1.5%;
}

.cabecalho-menu-nevagacao a{ /*Apenas com a classe do nav deu certo*/
    color: #F7F7F7; 
    text-decoration: none;
}

.fundo-conteudo-artigo{
    background: #F7F7F7; /*Cor de fundo branco (mas nem tao branco)*/
}

.artigo-conteudo-pagina{
    margin-left: 30%;
    margin-right: 30%; 
    color: #181224; /*Cor do texto roxo-escuro*/
    font-size: 18px; /*Tamanho da fonte*/
    margin-bottom: 10%; /*Margem no final para evitar do texto ficar colado ao rodape, 10% da largura horizontal*/
    line-height: 2; /*Tamanho da linha: tamanho da fonte + 2...4. Nesse caso 18+2=20*/
}

.titulo-grande-conteudo{
    padding-top: 5%;
    padding-bottom: 5%;
}

.titulo-medio-conteudo{
    padding-top: 3%;
    padding-bottom: 3%;
}

.linha-horizontal-conteudo{
    height: 2px;
    background-color: gray;
}

.codigo-single-line{
    padding: 4px 4px;
    border: 1px black solid;
    background-color: #FDFBF9;
    color: #28282B;
    font-family: monospace;
}

.codigo-input{
    padding: 5px;
    padding-left: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    color: #28282B;
}

.codigo-output{
    padding: 5px;
    padding-left: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #28282B;
    color: #FDFBF9;
}