.corpo-pagina-geral{
    font-family: helvetica; /*Fonte generica padrao*/
}

.cabecalho-pagina-geral{
    width: 100%; /*Largura, 100% porque quero que ocupe toda a tela*/
}

.cabecalho-menu-nevagacao{
    background: #181224;
    font-weight: 900; /*Define o peso da fonte, 0-900, sendo o 900 um bold forte*/
}

.lista-linguagens-navegacao{
    text-align: center; /*Centraliza os itens da lista*/
    font-size: 18px;
    margin: 0 10%; 
    padding: 1.5% 0;
}

.lista-linguagens-navegacao li:hover{
    transform: scale(1.1); /*Aumenta a fonte sem interferir no padding/margin, se colocar no ...a:hover nao funciona*/
}

.lista-linguagens-navegacao a:hover{ /*Quando passar o mouse por cima...*/
    color: #F1EA82;
    text-decoration: underline #F1EA82 3px; /*...insere um underline sobre o item*/
}

.espacamento-itens-navagacao{ /*Necessario para que o scale(1.1) nao fosse aplicado no padding do li*/
    display: inline-block; /*Coloca os itens um ao lado do outro*/
    padding: 0 1.5%;
}

.cabecalho-menu-nevagacao a{ /*Apenas com a classe do nav deu certo*/
    color: #F7F7F7; 
    text-decoration: none;
}

.fundo-conteudo-artigo{
    background: #F7F7F7; /*Cor de fundo branco (mas nem tao branco)*/
}

.artigo-conteudo-pagina{
    margin-left: 30%;
    margin-right: 30%; 
    color: #181224; /*Cor do texto roxo-escuro*/
    font-size: 18px; /*Tamanho da fonte*/
    margin-bottom: 10%; /*Margem no final para evitar do texto ficar colado ao rodape, 10% da largura horizontal*/
    line-height: 2; /*Tamanho da linha: tamanho da fonte + 2...4. Nesse caso 18+2=20*/
}

.titulo-grande-conteudo{
    padding: 5% 0;
}

.titulo-medio-conteudo{
    padding: 3% 0;
}

.linha-horizontal-conteudo{
    height: 2px;
    background-color: #181224;
}

.codigo-single-line{
    padding: 2px 4px;
    border: 1px #F7F7F7 solid;
    border-radius: 5px; /*Deixa a borda da margem curva*/
    background-color: rgba(211, 211, 211, 0.250); /*Cinza claro com 25% de transparencia*/
    color: #28282B;
    font-family: monospace;
}

.function-wiki-view:before{
    width: 100%; /*para o bloco ocupar todo o espaco do artigo*/
}

.function-wiki-view{
    padding: 1% 1% 1% 2%; /*padding de 2% a esquerda*/
    background-color: rgba(211, 211, 211, 0.250);
    color: #28282B;
    font-family: monospace; 
    margin: 2% 0;
    line-height: 1.5;
    overflow-x: auto;
    white-space: nowrap; /*Evita que quando o bloco fique muito pequeno a div description fique embaixo de titulos*/
}

.function-wiki-titulos{
    display: inline-block; /*Para que fique ao lado da seguinda div*/
    font-weight: bold;
}

.function-wiki-description{
    display: inline-block;
    padding-left: 2%;
}

.code-input-view:before{ /*Sem isso o padding da classe extrapolaria a largura do artigo*/
    width: 100%;
}

.code-input-view{
    padding: 1% 1% 1% 2%;
    border: 1px #28282B solid;
    background-color: rgba(211, 211, 211, 0.250);
    color: #28282B;
    font-family: monospace;
    margin: 2% 0;
    line-height: 1.5;
    counter-reset: linhas; /*Reseta o contador linhas com 1*/
    overflow-x: auto; /*Quando o texto fica pequeno */
}

.code-input-view code:before{ /*Titulo do bloco de codigo*/
    content: "Input";
    font-weight: bold;
}

.code-input-view pre:before{ /*Insere um numero corresponde a linha antes do elemento pre*/
    counter-increment: linhas; /*Incrementa o contador linhas em 1 unidade*/
    content: counter(linhas, decimal-leading-zero); /*Coloca o conteudo de conter(linhas), no caso e o valor de linhas, dec... faz os numeros serem 01, 02, 03... ao inves de 1, 2, 3...*/
    padding-right: 4%;
}

.code-output-view{
    padding: 1% 1% 1% 4%;
    border: 1px #28282B solid;
    background-color: #28282B;
    color: #F7F7F7;
    font-family: monospace;
    margin: 2% 0;
    line-height: 1.5;
    overflow-x: auto;
}

.code-output-view code:before{
    content: "Output";
    font-weight: bold;
}