.corpo-texto{
    background: #fafbfd; /*Cor de fundo branco (mas nem tao branco */
    color: #181224; /*Cor do texto roxo-escuro*/
    font-family: Helvetica; /*Fonte padrao*/
    font-size: 18px; /*Tamanho da fonte*/
    margin-bottom: 10%; /*Margem no final para evitar do texto ficar colado ao rodape, 10% da largura horizontal*/
    line-height: 2; /*Tamanho da linha: tamanho da fonte + 2...4. Nesse caso 18+2=20*/
}

.cabecalho{
    background: #181224;
    color: #F7F7F7;
    font-weight: 900;
    width: 100%;
}

.lista-linguagens:before{
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: middle;
} 

.lista-linguagens{
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify; 
    vertical-align: middle;
    font-size: 20px;
}

.lista-linguagens:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

.item{
    display: inline-block;
}

.underline-color-c{
    text-decoration: underline #E16667 3px;
}

.underline-color-cpp{
    text-decoration: underline #46c8f0 3px;
}

.underline-color-csharp{
    text-decoration: underline #5a34e2 3px;
}

.underline-color-python{
    text-decoration: underline #43ff53 3px;
}

.underline-color-javascript{
    text-decoration: underline #f3ff46 3px;
}

.underline-color-java{
    text-decoration: underline #ffa034 3px;
}

.underline-color-php{
    text-decoration: underline #3cfff5 3px;
}

.underline-color-swift{
    text-decoration: underline #ff50d3 3px;
}

.underline-color-go{
    text-decoration: underline #1ed0e7 3px;
}

.underline-color-sql{
    text-decoration: underline #7759ff 3px;
}

.underline-color-ruby{
    text-decoration: underline #f74848 3px;
}

.underline-color-typescript{
    text-decoration: underline #59deff 3px;
}

.artigo{
    margin-left: 30%;
    margin-right: 30%; 
    line-height: 2;
}

.titulo-h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

.linha-horizontal{
    height: 2px;
    background-color: gray;
}

.titulo-h2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.codigo-input{
    padding: 5px;
    padding-left: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #FDFBF9;
    color: #28282B;
}

.codigo-output{
    padding: 5px;
    padding-left: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #28282B;
    color: #FDFBF9;
}